body{
    margin:0px;
    /* padding是字離他自己的框框的距離 */
    /* border是框線粗細 */
    /* margin是一個框框和另一個框框之間的距離 */
    padding:0px;
}
#banner{
    width:800px;
    height:100px;
    background-color:rgb(32, 108, 174);
    float:left;
}

#content{
    width:600px;
    background-color:azure;
    float:left;
}


#nav{
    width:100px;
    height:200px;
    background-color:rgb(167, 204, 204);
    float:left;
}

#supporting{
    width:100px;
    height:200px;
    background-color:rgb(167, 204, 204);
    float:left;
}

#footer{
    width:800px;
    height:100px;
    background-color:rgb(32, 108, 174);
    float:left;
}

#wrapper{
    width:800px;
    margin:0 auto;
}
